body {
    background: #fff;
    font-family: sans-serif;
  }

.card, .menu{
    box-sizing: border-box;
    margin:16px;
    padding: 50px;
    background: #ffeab0;
    width: 1200px;
}
.left{
    width: 350px;
    display:inline-block;
    vertical-align: top;
}
.right{
    width: 650px;
    display:inline-block;
}
#indexlist {
    list-style-type: none;
    margin: 24px;
}
#indexlist li{
    display: inline-block;
    background-color: #f5d06a;
    margin: 8px;
    padding: 16px;
    width: 200px;
    height: 110px;
    text-align: center;
}